# on planet scale
# DATABASE_URL="mysql://janedoe:mypassword@server.us-east-2.psdb.cloud/mydb?sslaccept=strict"
# on docker
DATABASE_URL="mysql://recipe08:password@localhost:3306/recipe"

# KYSELEY
# KYSELEY_DB_DIALECT="planetscale"
KYSELEY_DB_DIALECT="mysql"
